# Pandas Boolean Index Vectors

Python/pandas has the ability to loop through databases in the same manner as more traditional compiled program langauges such as Fortran of C++.  However, the use of classic looping structures are not efficient in Pandas as it is an interpreted language and each line of code needs to parsed **everytime** time the line is executed. 

To see some tests which highlight the importance of this issue checkout https://www.youtube.com/watch?v=HN5d490_KKk.  Here the presenter demonstrates that execution times can be affected by many orders of magnitude by the looping structure.  These magnitudes will surprise many a seasoned user of compiled languages.  It is understood that with smaller datasets these savings are unimportant but with Big Data they may be crucial.  The purpose of this tutorial is develop the intuition behind the language features that permit the program to avoid the classic looping constructs.

## Set up the data

First the necessary modules are imported and a database is constructed with random data.

In [1]:
# Import in modules using popular abbreviations
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
# Draw Random numbers between 0 and 9
np.random.seed(1)
rawdata = np.random.randint(10, size=30)

In [3]:
# Use the first 20 to create two time series col1 and col2
df_test1A = DataFrame({
                   'col1':rawdata[:10],
                   'col2':rawdata[10:20]})
df_test1A

   col1  col2
0     5     2
1     8     4
2     9     5
3     5     2
4     0     4
5     0     2
6     1     4
7     7     7
8     6     7
9     9     9

## Boolean Indexing

There are many ways to loop through the rows of a database efficiently. In this section a vector of boolean values is supplied to the index.  True values indicate that a row should be kept and false will drop the row.  Two examples are given, the second one being more complex than the first.  The official documentation is given in https://pandas.pydata.org/pandas-docs/stable/indexing.html#boolean-indexing .

In the examples the goal of the exercise is to take df_test1A and create a database where the only rows that are kept contain both values less than 5 for both col1 and col2.

### 1 Simple Example

First it is necessary to create the series of booleans.  In the cell below a vector of booleans, df_fil1, is true if both values for col1 and col2 are less than 5.  The any method is given a 1 so that it performs the operations along the row dimension.

#### Calculate the cells less than five

First it is important to keep in mind that a simple test on the dataframe generates a dataframe of the same diminsions of booleans.  In the table displayed below, there is a true value for every cell 5 or greater as shown above.

In [4]:
df_test1A < 5

    col1   col2
0  False   True
1  False   True
2  False  False
3  False   True
4   True   True
5   True   True
6   True   True
7  False  False
8  False  False
9  False  False

#### Create a filter

Now the 10 by 2 matrix cannot be used by itself to select from among the ten rows in df_test1A.  With the use of any(1), a single column vector will be created that is true if either col1 or col2 is less than 5.  The 1 argument in any() refers to the row diminsion.  The result of this operation is given in df_fil1.

In [5]:
df_fil1 = (df_test1A < 5).any(1)
df_fil1

0     True
1     True
2    False
3     True
4     True
5     True
6     True
7    False
8    False
9    False
dtype: bool

#### Apply to database

df_fil1 is entered in the square brackets and this indexing technique selects the rows.  The database that was initially ten rows is reduced to 6 and and each row has at least one value less than five, as is shown in the listing of df_test1B.

In [6]:
df_test1B = df_test1A[df_fil1]
df_test1B

   col1  col2
0     5     2
1     8     4
3     5     2
4     0     4
5     0     2
6     1     4

### 2 More Complex Example

col3 is added to the database to illustrate an important complicating factor.  It is shown below that the values are the same for col1 and col2 but the col3 is data that we want to omit from the calculation.  As a result to simple filter that we used above will not work as we do not want col3 to be included in the calculation but we want to preserve it for those rows we keep.

In [7]:
df_test2A = DataFrame({
                   'col1':rawdata[:10],
                   'col2':rawdata[10:20],
                   'col3':rawdata[20:30]})
df_test2A

   col1  col2  col3
0     5     2     1
1     8     4     7
2     9     5     0
3     5     2     6
4     0     4     9
5     0     2     9
6     1     4     7
7     7     7     6
8     6     7     9
9     9     9     1

#### Create a filter

Here we create a filter by first subsetting on the dataframe.  Here only col1 and col2 are included in the subset.  Note the double square brackets that allows the subset occurs.  The any(1) is applied to the result as before and the filter df_fil2 has the same values as df_fil1 above.

In [8]:
df_fil2 = (df_test2A[['col1','col2']] <5).any(1)
df_fil2

0     True
1     True
2    False
3     True
4     True
5     True
6     True
7    False
8    False
9    False
dtype: bool

#### Apply to Database

df_fil2 is applied to the three column database as before and the same result is obtained except for the addition of col3.

In [9]:
df_test2B = df_test2A[df_fil2]
df_test2B

   col1  col2  col3
0     5     2     1
1     8     4     7
3     5     2     6
4     0     4     9
5     0     2     9
6     1     4     7